[flake8]
# File is automatically called, upon invoking flake8
# https://flake8.pycqa.org/en/latest/user/configuration.html

# Ignored files
exclude =
    .git
    __pycache__
    .pytest_cache
    .venv

# Ignored errors. Errors which we don't respect
ignore =
    # Allow multiple spaces before operators
    E221
    # Allow multiple spaces after operators
    E241
    # Allow whitespace before ')', ex: "values() ))):"
    E202

# 79 is standard; see PEP 8 for more info
max-line-length = 100
